
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}
button{
    border: none;
    background-color: transparent;
    font-family: inherit;
    cursor: pointer;
    text-transform: capitalize;
}
input{
  border: none;
  font-family: inherit;
}


body,html{
  overflow-x: hidden;
}

