
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}
button{
    border: none;
    background-color: transparent;
    font-family: inherit;
    cursor: pointer;
    text-transform: capitalize;
}
input{
  border: none;
  font-family: inherit;
}


body{
  overflow-x: hidden;
}

.attribution{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  right: 30px;
  top: 30px;
  font-size: 0.6rem;
  background-color: rgba(0,0,0,0.2);
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.attribution:target{
  display: none;
}
.attribution p {
  color: aliceblue;
}
.attribution a {
  color: rgba(255,255,255,0.6);
  margin:  2px 0;
}
.attribution a:hover{
  color: rgba(255,255,255,1);
}
.attribution button{
  color: aliceblue;
  position: absolute;
  top: 15px;
  right: 0px;
  left: 0px;
}


